body{
    font-family: 'Circular', Avenir, sans-serif;
    margin: 0;
}

nav{
    height: 70px;
    border-bottom: 1px solid rgb(187, 187, 187);
}

ul{
    list-style: none;
}

.navbar-light{
    background-color: #EFEFEF;
}

a{
    margin-right: 30px;
    color: #565656;
}

a:hover{
    color:#FF0000;
    transition-delay: 1000;
    background-color: transparent;
}


.logo:hover{
    text-decoration: none;
    color: #FAFAFA;
}