body{
    margin: 0;
    padding: 0;
}

nav{
    display: flex; 
    justify-content:space-around;
    align-items: center;
    height: 96px;
    background-color: #FFFFFF;
    font-family: 'Circular', Avenir, sans-serif;
    -webkit-box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.53); 
box-shadow: 0px 4px 7px 2px rgba(0,0,0,0.53);
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    position: absolute;
    left: 298px;
    top: 43px;
}


#search:hover{
    cursor: pointer;
}
ul{
    list-style: none;
}

.navbar-light{
    z-index: 1;
    background-color: #FFFFFF;
}

.navbar-nav{
    padding-left: 30px;
}

.nav-item{
    position:relative;
    top: 5px;
    font-family: 'Circular', Avenir, sans-serif;
    font-size: 17px;
    margin-right: 40px;
    color: #4b4b4b;
    transition-duration: 200ms;
}

.navbar-brand{
    font-family: 'Circular', Avenir, sans-serif;
    font-size: 30px;
    color: black;
}

a{
    transition-duration: 300ms;
}

a:hover{
    color: #9c9c9c;
    text-decoration: none;
    background-color: transparent;
}

.logo:hover{
    text-decoration: none;
    color: #FAFAFA;
}

#searchInput{
    display:none;
    width: 300px;
    background: transparent;
    border-bottom: 1px solid #4b4b4b;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0em;
}

button:focus{
    outline:transparent !important;
}

@media screen and (max-width: 991px){

    body{
        overflow-x: hidden;
    }
    #nav-links{
        position: relative;
    top: 60px;
    text-align: center;
    }

    #navbarSupportedContent{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 100px;
    width: 40vw;
}

.navItem{

    position: relative;
    top: 68px;
    text-align: center;
}

#searchInput{
    border-bottom: 1px solid white;
}


}

