body{
    margin: 0;
}

nav{
    height: 70px;
    border-bottom: 1px solid rgb(187, 187, 187);
}

ul{
    list-style: none;
}

.navbar-light{
    background-color: #EFEFEF;
}

.navbar-nav{
    padding-left: 30px;
}

.nav-item{
    position:relative;
    top: 5px;
}

.navbar-brand{
    font-family: 'Circular', Avenir, sans-serif;
    font-size: 30px;
}

a{
    font-family: 'Circular', Avenir, sans-serif;
    font-size: 17px;
    margin-right: 40px;
    color: #565656;
}

a:hover{
    color: red;
    transition-delay: 1000;
    background-color: transparent;
}


.logo:hover{
    text-decoration: none;
    color: #FAFAFA;
}