body{
    margin: 0;
    font-family: 'Circular', Avenir, sans-serif;
    background: #FFFFFF;
}

.container{
    position: relative;
    top:100px;
}

.row{
    display: flex;
    position: absolute;
    top: 50px;
    left: 50px;
}

.indexMangaCards{
    padding: 0;
}

.mangaCard{
    padding: 0;
    margin-top: 20px;
}

.manga{
    padding: 0;
}

.mangaTitle{
    position: absolute;
    text-align: center;
    color:red;
}

.latestUploads{
    position: relative;
    bottom: 30px;
    border-bottom: 2px #FD9D34 solid;
    color: #FD9D34;
    font-weight: 450;
}

.mangaCardsList{
    text-align: center;
    margin-bottom: 50px;
}

.name{
    width: 180px;
    height: 50px;
    text-align: center;
    background-color: #2E2E2E;
    color:white;
    font-size: 17px;
    transition-duration: 500ms;
}

.name p{
    position: relative;
    top:5px;
}

.mangaCardsList:hover{
    cursor:pointer;
    .name{    
        background-color: #FD9D34;
        cursor: pointer;

    }
}

@media screen and (max-width: 430px){

    .mangaCardsList{
        position: relative;
        right: 25px;
    }
    .thumbnails{
        width: 100px;
        height:150px;
    }
    .name{
        width: 100px;
    }
    
}


@media screen and (max-width: 375px){

    .mangaCardsList{
        position: relative;
        left: 10px;
    }
    .thumbnails{
        width: 100px;
        height:150px;
    }
    .name{
        width: 100px;
    }
    
}

@media screen and (max-width: 320px){

    .mangaCardsList{
        position: relative;
        left: -8px;
    }
    .thumbnails{
        width: 100px;
        height:150px;
    }
    .name{
        width: 100px;
    }
    
}
