body{
    font-family: 'Circular', Avenir, sans-serif;
    margin: 0;
}
.container{
    position: relative;
    margin: 0 auto;
    height: 1500px;
    top: 60px;
}

#addBook{
    text-align: left;
    font-weight: bold;
    font-size: 35px；
}

.upload{
    margin: 0;
    text-align: center;
}


#file{
    display: none;
}

#banner{
    display: none;
}

#manga{
    height: 500px;
    width:400px;
    position: relative;
    top: 10px;
    border: none;
    transition-duration: 0.5s;
}

#manga:hover{
    cursor: pointer;
    opacity: 0.7;
}


#mangaBanner{
    height: 500px;
    width:1200px;
    position: relative;
    top: 10px;
    border: none;
    transition-duration: 0.5s;
}

#mangaBanner:hover{
    cursor: pointer;
    opacity: 0.7;
}

#thumbHeader{
    position: relative;
    top: 200px;
}

#bannerName{
    position: relative;
    top: 200px;
}

#innerContent{
    position: relative;
    top: 200px;
}

#bannerContent{
    position: relative;
    top: 200px;
}

#uploadImage{
    position: relative;
    top: 200px;
}

#volumeName{
    position: relative;
    top: 200px;
}

#img{
    position: absolute;
    bottom: -0.5%;
    right: -0.5%;
    height: 500px;
    width: 400px;
    border: 2px solid #b4b0b0;
    background-color: #FAFAFA;
    z-index: -1;
}

#imgBanner{
    position: absolute;
    bottom: -0.5%;
    right: -0.5%;
    height: 500px;
    width: 1200px;
    border: 2px solid #b4b0b0;
    background-color: #FAFAFA;
    z-index: -1;
}



.form-group{
    position: relative;
    top: 50px;
    margin-top: 40px;
}

.fa-upload{
    position: relative;
    top: 150px;
}

#mangaChap{
    height: 500px;
    width: 400px;
    border: 2px solid #b4b0b0;
    background-color: #FAFAFA;
    text-align: center;
    position: relative;
    bottom: 40px;
    transition-duration: 0.5s;
}

#mangaChap:hover{
    cursor: pointer;
    opacity: 0.7;
}

#uploadChap{
    text-align: center;
}

#volumes{
    display: none;
}

#paraPDF{
    text-align: center;
    position: relative;
    top: 100px;
}

#submit
{
    position: relative;
    top: 200px;
    left: 200px;
    text-align: center;
}

.error{
    color: red;
}

.uploadResults{
    margin: 0 auto;
    border-top: 1px solid #eaecef;
    position: relative;
    top: 50px;
}
