body{
    font-family: 'Circular', Avenir, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.containerShow{
    position: relative; 
    bottom: 50px;
}
#mangaIntro{
    position: relative;/*position*/ 
    display: inline-block;/*position*/ 
}

#mangaIntro #text{
    position: absolute;/*position*/ 
    margin: 0 auto;/*position*/ 
    left: 0; /*position*/ 
    right: 0; /*position*/
    color: #fafafa;
    text-align: center;/*position*/ 
    bottom: 35%;
}
#text h1{
    font-size: 5vw;
}

#text h3{
    font-size: 2vw;
}

.img-fluid{
    filter: brightness(70%);
}

#setting{
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #CCDBDC;
}
.row{
    position: relative;
}
.row #status{
    background-color: beige;
    position: absolute;
    left: 40px;
    top: 15px;
    font-weight: bold;
    font-size: 2vw;
    padding: 5px;
}

.row #mangaInfo{
    position: absolute;
    top: 100px;
    left: 20px;
    font-size: 2vw;
}

.volumes{
    position: absolute;
    top: 200px;  
}



