body{
    font-family: 'Circular', Avenir, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #f3f3f3
}

#mangaIntro{
    position: relative;/*position*/ 
    display: inline-block;/*position*/ 
}

#mangaIntro #text{
    position: absolute;/*position*/ 
    margin: 0 auto;/*position*/ 
    left: 0; /*position*/ 
    right: 0; /*position*/
    color: #fafafa;
    text-align: center;/*position*/ 
    bottom: 35%;
}
#text h1{
    font-size: 5vw;
}

#text h3{
    font-size: 2vw;
}

#bookBanner{
    filter: brightness(70%);
    max-height: 700px;
}

#mangaIntro .settings{
    display: inline-block;
    position: absolute;
    left: 5px;
    font-size: 25px;
    padding: 5px;
}

#settingIcon{
    margin-left: 14px;
    color: gray;
    transition-duration: 0.2s;
}
#settingIcon:hover{
    cursor: pointer;
}

.settingRotate{
    -webkit-transfrom: rotate(45deg);
    transform: rotate(45deg);
}

ol{
    padding:0;
}

.settingContent {
    display:none;
	position: relative;
    background: black;
    opacity: 0.8;
    border-radius: .4em;
    width: auto;
    padding: 20px 20px 2px 20px;
}

.settingContent li{
    color:white;
    opacity:0.8;
    transition-duration: 300ms;
}

.settingContent li:hover{
    color:red;
    filter: none;
}


.settingContent:after {
	content: '';
	position: absolute;
    top: 14px;
    left: 16%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
    border-bottom-color: black;
    opacity:0.8;
	border-top: 0;
	margin-left: -20px;
    margin-top: -20px;
    
}

.containerShow{
    position: relative; 
    bottom: 50px;
}

#mangaInfo{
    position: relative;
    left: 20px;
    top: 80px;
    font-weight: bold;
    font-size: 2vw;
    padding: 5px;
}

#statusOngoing{
    background-color: beige;
    font-size: 2vw;
    width: 8.5vw;
    padding-left: 2px;
}

#statusCompleted{
    font-size: 2vw;
    width: 11.3vw;
    background-color: rgb(255, 154, 154);
    padding-left: 3px;
}

#mangaHeader{
    font-size: 3vw;
    border-bottom: 2px solid black;
    width: 93vw;
}

#description{
    font-size: 2vw;
    width: 93vw;
}

#mangaCardswrapper{
    padding-left:10px;
}

.mangaCards{
    display: inline-block;
    margin-right:20px;
    margin-bottom: 20px;
    text-align: center;
}

.mangasTitle{
    display: block;
    position: relative;
    font-size: 16px;
    top: 5px; 
    font-family: 'Circular', Avenir, sans-serif;
    color: #2e2e2e;
    font-weight: 500;
    width: 200px;
    line-height: 1.4em;
    margin-top: 10px;
    transition-duration: 300ms;
}

.mangasTitle:visited{
    color: #2e2e2e;
}

@media screen and (max-width: 535px){
    #mangaCardswrapper{
        padding-left: 20px;
    }
}

.previews{
    transition-duration: 300ms;
}

.previews:hover{
    opacity: 0.6;
}

@media screen and (max-width: 411px){

    .previews{
        width: 100px;
        height:150px;
    }
    #mangaInfo{
        left: 10px;
    }
    .mangasTitle{
        text-align: center;
    }

    #mangaCardswrapper{
        padding-left: 60px;
    }
}

@media screen and (max-width: 375px){

    .previews{
        width: 100px;
        height:150px;
    }
    #mangaInfo{
        left: 10px;
    }
    .mangasTitle{
        text-align: center;
    }

    #mangaCardswrapper{
        padding-left: 50px;
    }

}
